<div class="popup flex-vertical">
    <header class="flex-horizontal">
        <a class="popup-header-button"
           title="Close"
           ng-click="closePopup()">
            <img src="images/icons/back.svg" />
        </a>
        <span class="flex-1 popup-title">{{popupTitle}}</span>
        <div ng-show="popupButtons.length">
            <a ng-repeat="button in popupButtons"
               class="popup-header-button"
               title="{{::button.title}}"
               ng-click="button.onClick()">
                <img ng-src="images/icons/{{::button.icon}}.svg" />
            </a>
        </div>
    </header>
    <div class="flex-1 scroll-vertical popup-contents" ng-transclude></div>
</div>
