<div class="dialog-container">
    <div class="dialog-wrapper dialog-background" ng-click="closeDialog()"></div>
    <div class="dialog-wrapper">
        <div class="dialog flex-vertical">
            <div class="flex-vertical">
                <header ng-if="title">
                    <span class="dialog-title">{{title}}</span>
                </header>
                <div class="flex-1 flex-vertical">
                    <div class="scroll-vertical" ng-transclude>
                    </div>
                </div>
                <div ng-show="actions.length" class="dialog-actions">
                    <a ng-repeat="action in actions"
                       class="dialog-button"
                       title="{{::action.title}}"
                       ng-click="action.onClick()">
                        <img ng-show="::action.icon" ng-src="images/icons/{{::action.icon}}.svg" />
                        {{::action.text}}
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>