<div class="popup flex-vertical">
    <header class="flex-horizontal">
        <a class="popup-header-button"
           title="Close"
           ng-click="closeDialog()">
            <img src="images/icons/back.svg" />
        </a>
        <span class="flex-1 popup-title">{{title}}</span>
        <div ng-show="actions.length">
            <a ng-repeat="action in actions"
               class="popup-header-button"
               title="{{::action.title}}"
               ng-click="action.onClick()">
                <img ng-src="images/icons/{{::action.icon}}.svg" />
            </a>
        </div>
    </header>
    <div class="flex-1 scroll-vertical popup-contents" ng-transclude></div>
</div>
