<!DOCTYPE html>
<html ng-app="Diary">
<head lang="en">
    <meta charset="UTF-8">
    <title>Diary</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="style/main.css"/>
    <script src="phonegap.js"></script>

    <script src="components/polymer/platform.js"></script>
    <link rel="import" href="components/polymer/core-scaffold/core-scaffold.html">
    <link rel="import" href="components/polymer/core-header-panel/core-header-panel.html">
    <link rel="import" href="components/polymer/core-menu/core-menu.html">
    <link rel="import" href="components/polymer/core-item/core-item.html">

    <script src="components/d3.v3.min.js"></script>
    <script src="components/jquery/jquery-2.0.3.min.js"></script>
    <script src="components/angular/angular.min.js"></script>
    <script src="components/angular/angular-touch.min.js"></script>
    <script src="components/angular/angular-route.min.js"></script>
    <script src="components/bindonce.min.js"></script>
    <script src="components/indexeddb.js"></script>
    <script src="scripts/services/phonegap.js"></script>

    <script src="scripts/directives/ng-tap.js"></script>
    <script src="scripts/directives/self-click.js"></script>
    <script src="scripts/directives/toggle-display.js"></script>
    <script src="scripts/services/eventbus.js"></script>
    <script src="scripts/services/utils.js"></script>

    <script src="scripts/services/chart.js"></script>
    <script src="scripts/directives/charts/line_chart.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/classes/entry.js"></script>
    <script src="scripts/services/classes/player.js"></script>
    <script src="scripts/services/entries.js"></script>
    <script src="scripts/services/insights.js"></script>
    <script src="scripts/filters/pronoun.js"></script>

    <script src="scripts/controllers/main_controller.js"></script>
    <script src="scripts/controllers/edit_player_controller.js"></script>
    <script src="scripts/controllers/insights_controller.js"></script>
    <script src="scripts/controllers/entries_list_controller.js"></script>

    <script src="insights/weight/weight.controller.js"></script>
</head>
<body ng-controller="MainController">
<core-scaffold>

    <core-header-panel id="main-header" navigation flex mode="seamed">
        <core-toolbar class="actionbar">Baby Diary</core-toolbar>
        <core-menu id="menu">
            <ul id="players-menu">
                <li ng-repeat="player in players" class="flex-horizontal"
                    ng-class="{ selected: player.id === currentPlayer.id }">
                    <a ng-click="setCurrentPlayer(player); hideMenu()" class="flex-1">{{player.name}}</a>
                    <a ng-click="editPlayer(player); hideMenu()" class="players-menu-edit">
                        <img class="child-menu-edit" src="images/icons/edit.svg"/>
                    </a>
                </li>
                <li class="players-menu-add">
                    <a class="button save-button" ng-click="addNewPlayer(); hideMenu()">
                        <img class="child-menu-add" src="images/icons/plus.svg"/>
                        Add Child
                    </a>
                </li>
            </ul>
            <ul>
                <li bindonce ng-repeat="item in menuItems" ng-class="{ selected: item.selected }">
                    <a bo-href="item.href" ng-click="item.onClick($event)" bindonce="item">
                        <span class="menu-icon">
                            <img bo-src="item.icon"/>
                        </span>
                        <span class="menu-title" bo-text="item.text"></span>
                    </a>
                </li>
            </ul>
        </core-menu>
    </core-header-panel>

    <div tool id="main-toolbar" class="flex-horizontal">
        <span id="actionbar-image" ng-style="{ 'background-image': 'url(' + player.image + ')' }" ng-show="player.image"></span>
        <span flex>{{player.name}}</span>
        <a href="#/" title="Diary">
            <core-icon-button icon="list"></core-icon-button>
        </a>
        <a href="#/insights" title="Insights">
            <core-icon-button src="images/icons/charts-white.svg">
            </core-icon-button>
        </a>
    </div>

    <div class="content" ng-view></div>

</core-scaffold>

<div id="overlay" class="overlay"></div>
<div id="playerEdit"
     class="popup-wrapper"
     ng-show="editedPlayer"
     data-toggle-display="showEditPlayer">
    <div class="popup flex-vertical" ng-include="'views/edit_player.html'"></div>
</div>
<ng-include src="'views/entry_editors.html'"></ng-include>
</body>
</html>