<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>GrowingApp</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="style/main.css"/>
    <script src="phonegap.js"></script>
</head>
<body ng-controller="MainController" class="flex-horizontal" ng-class="{ offline: offline }">
    <div id="overlay" data-toggle-display="showMenu" ng-click="showMenu = false"></div>
    <div id="menu-wrapper" data-toggle-display="showMenu">
        <div id="menu">
            <header class="actionbar"><span class="app-name">GrowingApp</span></header>
            <input type="text" placeholder="input something here" />
            <ul id="players-menu">
                <li ng-repeat="listPlayer in players" class="flex-horizontal"
                    ng-class="{ selected: listPlayer.playerId === player.playerId, 'with-image': listPlayer.image }">
                    <a ng-click="setCurrentPlayer(listPlayer); hideMenu()" class="flex-1"><img class="player-image" ng-if="listPlayer.image" ng-src="{{listPlayer.image}}" />
                        {{::listPlayer.name}}
                    </a>
                    <a ng-click="editPlayer(listPlayer); hideMenu()" class="players-menu-edit">
                        <img class="child-menu-edit" src="images/icons/edit.svg"/>
                    </a>
                </li>
                <li class="players-menu-add">
                    <a class="button save-button" ng-click="addNewPlayer(); hideMenu()">
                        <img class="child-menu-add" src="images/icons/plus.svg"/>
                        Add Child
                    </a>
                </li>
            </ul>
            <ul>
                <li ng-repeat="item in ::menuItems" class="{{item.className}}" ng-class="{ selected: item.selected }" ng-show="!item.hide">
                    <a href="{{::item.href}}" ng-click="item.onClick($event)">
                            <span class="menu-icon">
                                <img ng-src="{{::item.icon}}"/>
                            </span>
                        <span class="menu-title">{{::item.text}}</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
    <div class="flex-vertical flex-1">
        <header class="flex-horizontal actionbar" id="app-title">
            <a id="menu-button" class="actionbar-button" ng-click="showMenu = !showMenu" ng-class="{ active: showMenu }">
                <img src="images/icons/menu-lines.svg" title="Menu"/>
            </a>
            <div class="flex-1">
                <span id="actionbar-name">
                    {{ player.name || 'GrowingApp' }}
                </span>
            </div>
            <div>
                <div id="spinner" toggle-display="showSpinner">
                    <img src="images/icons/spinner.svg" />
                </div>
                <a class="actionbar-button selectable" href="#/" ng-class="{ selected: currentPage == 'diary' }">
                    <img src="images/icons/list.svg" title="Diary" />
                </a>
                <a class="actionbar-button selectable" href="#/insights" ng-class="{ selected: currentPage == 'insights' }">
                    <img src="images/icons/charts-white.svg" title="Charts" />
                </a>
            </div>
        </header>
        <div id="contents-wrapper" class="flex-1">
            <div id="contents" class="flex-1 flex-vertical" ng-view></div>
        </div>
    </div>
    <popup popup-show="showEditPlayer" popup-title="{{editedPlayer.playerId && 'Edit Child' || 'Add New Child'}}">
        <div ng-include="'views/edit_player.html'"></div>
    </popup>
    <popup popup-show="showLogin" popup-title="Sign In">
        <div ng-include="'views/login.html'"></div>
    </popup>
    <popup popup-show="showSignup" popup-title="Sign Up">
        <div ng-include="'views/signup.html'"></div>
    </popup>
    <popup popup-show="showSyncOffer" popup-title="It's time to backup!">
        <div ng-include="'views/syncOffer.html'"></div>
    </popup>
    <ng-include src="'views/entry_editors.html'"></ng-include>
    <!--
    <script data-main="scripts/main.js" src="components/require.js"></script>
    -->
</body>
</html>