<!DOCTYPE html>
<html ng-app="Diary">
<head lang="en">
    <meta charset="UTF-8">
    <title>GrowingApp</title>
    <meta name="viewport" content="width=device-width">
    <link rel="icon" type="image/png" href="images/favicon.png"/>
    <link rel="stylesheet" type="text/css" href="style/main.css"/>
    <script src="phonegap.js"></script>
    <script src="components/parse-1.2.18.min.js"></script>
    <script src="components/d3.v3.min.js"></script>
    <script src="components/jquery/jquery-2.0.3.min.js"></script>
    <script src="components/angular/angular.js"></script>
    <script src="components/angular/angular-touch.min.js"></script>
    <script src="components/angular/angular-route.min.js"></script>
    <script src="components/indexeddb.js"></script>
    <script src="scripts/services/phonegap.js"></script>

    <script src="scripts/services/parse.js"></script>
    <script src="scripts/services/storage.js"></script>
    <script src="scripts/services/users.js"></script>

    <script src="scripts/directives/ng-tap.js"></script>
    <script src="scripts/directives/self-click.js"></script>
    <script src="scripts/directives/toggle-display.js"></script>
    <script src="scripts/services/eventbus.js"></script>
    <script src="scripts/services/utils.js"></script>

    <script src="scripts/services/chart.js"></script>
    <script src="scripts/directives/charts/line_chart.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/services/config.js"></script>
    <script src="scripts/services/classes/entry.js"></script>
    <script src="scripts/services/classes/player.js"></script>
    <script src="scripts/services/entries.js"></script>
    <script src="scripts/services/insights.js"></script>
    <script src="scripts/services/cloud.js"></script>
    <script src="scripts/filters/pronoun.js"></script>

    <script src="scripts/controllers/main_controller.js"></script>
    <script src="scripts/controllers/edit_player_controller.js"></script>
    <script src="scripts/controllers/insights_controller.js"></script>
    <script src="scripts/controllers/entries_list_controller.js"></script>
    <script src="scripts/controllers/login_controller.js"></script>

    <script src="insights/weight/weight.controller.js"></script>
</head>
<body ng-controller="MainController">
<header id="actionbar" class="flex-horizontal">
    <div>
        <span id="actionbar-image" ng-style="{ 'background-image': 'url(' + player.image + ')' }" ng-show="player.image"></span>
    </div>
    <div class="flex-1">
        <span id="actionbar-name">
            {{ player.name }}
        </span>
    </div>
    <a id="menu-button" ng-click="showMenu = !showMenu" ng-class="{ active: showMenu }">
        <img src="images/icons/menu.svg" title="Menu"/>
    </a>
</header>
<div id="contents-wrapper">
    <div id="contents" class="flex-1 flex-vertical" ng-view></div>
</div>
<div id="overlay" class="overlay"></div>
<div id="menu-wrapper" data-toggle-display="showMenu">
    <div id="menu">
        <ul id="players-menu">
            <li ng-repeat="listPlayer in players" class="flex-horizontal"
                ng-class="{ selected: listPlayer.playerId === player.playerId }">
                <a ng-click="setCurrentPlayer(listPlayer); hideMenu()" class="flex-1">{{listPlayer.name}}</a>
                <a ng-click="editPlayer(listPlayer); hideMenu()" class="players-menu-edit">
                    <img class="child-menu-edit" src="images/icons/edit.svg"/>
                </a>
            </li>
            <li class="players-menu-add">
                <a class="button save-button" ng-click="addNewPlayer(); hideMenu()">
                    <img class="child-menu-add" src="images/icons/plus.svg"/>
                    Add Child
                </a>
            </li>
        </ul>
        <ul>
            <li ng-repeat="item in menuItems" ng-class="{ selected: item.selected }" ng-show="!item.hide">
                <a href="item.href" ng-click="item.onClick($event)">
                        <span class="menu-icon">
                            <img ng-src="{{item.icon}}"/>
                        </span>
                    <span class="menu-title">{{item.text}}</span>
                </a>
            </li>
        </ul>
    </div>
</div>
<div id="playerEdit"
     class="popup-wrapper"
     ng-show="editedPlayer"
     data-toggle-display="showEditPlayer">
    <div class="popup flex-vertical" ng-include="'views/edit_player.html'"></div>
</div>
<div id="login"
     class="popup-wrapper"
     data-toggle-display="showLogin">
    <div class="popup flex-vertical" ng-include="'views/login.html'"></div>
</div>
<ng-include src="'views/entry_editors.html'"></ng-include>
</body>
</html>