$cardBorderRadius: 2px;
$maxCardWidth: 640px;

.cards{
  list-style: none;
  margin: 0;
  background: #e2e2e2;
  padding: .5rem;

  .card{
    max-width: $maxCardWidth;
    background: White;
    border-radius: $cardBorderRadius;
    box-shadow: 1px 1px 5px rgba(0,0,0,.5);
    margin-bottom: 1rem;
  }

  .card-side{
    width: 3rem;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 2rem 2rem;
    padding: .5rem 0;
    min-height: 2rem;
    border-radius: $cardBorderRadius 0 0 0;
  }

  .rtl .card-side{
    border-radius: 0 $cardBorderRadius 0 0
  }

  .card-image{
    display: block;
    width: 100%;
    max-width: $maxCardWidth;
    border-radius: $cardBorderRadius $cardBorderRadius 0 0;
  }

  .card-contents{
    padding: .5rem;
    border-radius: $cardBorderRadius $cardBorderRadius 0 0;
  }

  .card-min-height{
    min-height: 10rem;
    padding: .5rem;
  }

  .card-center-contents{
    display: flex;
    -webkit-align-items: center;
    -webkit-justify-content: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;

  }
  .card-contents-light{ background-color: #ebebeb; }
  .card-contents-lighter{ background-color: #f4f4f4; }

  .card-text{
    padding: .5rem .5rem 1.5rem;
  }

  .card-info{
    border-top: solid 1px #e2e2e2;
    font-size: .8em;

    .card-details{
      padding: .75rem;
      color: #999;

      .separator{
        display: inline-block;
        margin: 0 .5rem;
        color: #ccc;
      }
    }

    .card-buttons{
      text-align: right;
    }
    .button{
      opacity: .4;
      height: 2.7rem;
      width: 2.7rem;
      background: white no-repeat center center;
      background-size: 40%;
      float: left;

      &:hover{ opacity: .7; }
      &:active, &.ng-click-active{
        -webkit-transform: translateY(0);
        -moz-transform: translateY(0);
        -ms-transform: translateY(0);
        -o-transform: translateY(0);
        transform: translateY(0);

        background-color: $lightActiveColor;
      }
      &.card-edit-button{ background-image: url(../images/icons/edit.svg); }
      &.card-charts-button{ background-image: url(../images/icons/charts.svg); background-size: 50%; }
      &.card-list-button{ background-image: url(../images/icons/list-black.svg); }
    }
    .card-icon{
      float: left;
      margin-right: .5rem;
      width: 2rem;
    }
  }

  .card-sub-details{
    color: $secondaryTextColor;
  }
}