$dialogBorderRadius: 2px;
$dialogHeaderHeight: 3rem;

.dialog-container{
  display: none;
  opacity: 0;
  background: rgba(0,0,0,.56);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;

  &.visible{ display: block; }

  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out;

  &.active{
    opacity: 1;
  }
}

.dialog-wrapper{
  position: fixed;
  z-index: 109;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5rem;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  pointer-events: none;

  -webkit-align-items: center;
  -moz-justify-content: center;
  justify-content: center;
}

.dialog-background{
  position: absolute;
  z-index: 105;
  padding: 0;
  pointer-events: all;
}

.fit-contents{
  .dialog{
    min-height: 0;
    width: auto;
  }
}
.dialog{
  pointer-events: all;
  width: 100%;
  max-width: 15cm;
  max-height: 100%;
  min-height: 5cm;
  background: #fafafa;
  border-radius: $dialogBorderRadius;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5);

  header{
    font-weight: bold;
    font-size: 1rem;
    padding: 1rem;

    .dialog-title{
      font-size: 1.3rem;
    }
    .close-button{
      @extend .header-button;
      float: right;
      display: block;
      height: 2rem;
      padding: .5rem;
      width: 2rem;
      text-align: center;
      line-height: 2rem;

      img{
        height: 1rem;
        margin-top: 8px;
      }
    }
  }

  .dialog-contents{
    padding: 1rem 1.5rem 0;

    p:first-child{
      margin-top: 0;
    }
  }

  p.dialog-text{
    margin-top: 0;
    line-height: 1.5rem;
    text-align: justify;
    color: #555;

    strong{
      color: $contentTextColor;
    }
  }

  .dialog-actions{
    text-align: right;

    .dialog-button{
      display: inline-block;
      text-transform: uppercase;
      font-size: 1rem;
      padding: 1rem 1.5rem;
      color: #2778B6;
      font-weight: bold;
      background: none;
      border: none;
      -webkit-appearance: none;
    }

    .dialog-button-image{
      vertical-align: middle;
      height: 1.2rem;
      margin-top: -.3rem;
      margin: -.3rem .1rem 0;
    }
  }
  footer{
    padding: 1rem;
  }
}

.dialog-title{
  background: #1e94f6;
  padding: .5rem;
  border-radius: 3px;
  color: White;
  margin: 0;
}