.entry-measure-icon{
  width: 6rem;
}

.entry-milestone-text{
  background: url(../images/icons/star_yellow.svg) no-repeat center top;
  padding-top: 3rem;
  text-align: center;
}

.entry-milestone-contents{
  background-color: #017fcf;
  color: White;
  min-height: 8rem;
}

.entry-teeth-contents{
  text-align: center;

  svg {
    width: 100%;
    max-width: 240px;
    margin: 0 auto;
    display: block;
    max-height: 240px;
    margin-bottom: 1rem;
  }
}

.entry-simple-contents{
  color: White;

  .entry-simple-contents-text{ padding: .5rem 1rem; }
}

.card-contents-with-image{
  position: relative;

  .card-contents{
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0,0,0,.5);
  }
}

.item-unit{
  opacity: .6;
  font-size: .7em;
}
.cards {
  .card-contents {
    &.entry-with-value {
      text-align: center;
      padding-bottom: 1rem;

      .item-measure {
        color: White;
        font-size: 1.2em;
      }

      .item-measure-subtitle {
        font-size: .9em;
      }

      img {
        margin: 1rem 0 .2rem;
      }
    }
  }
}