$firstTimePadding: 1.5rem;
$firstTimePaddingSmall: 1rem;

#first-time{
  background: #1e94f6;
  @extend .flex;

  webkit-box-orient: horizontal;
  -webkit-flex-flow: row;
  flex-flow: row;
  flex-direction: row;



  & > header{
    height: auto;
    background: #43124c url(../images/logo_header.svg) no-repeat right bottom;
    background-size: contain;
    color: White;
    padding: 2.5rem $firstTimePaddingSmall;
    box-sizing: border-box;
    font-weight: 300;
    font-size: 1.2rem;
    border-right: solid 2px White;
  }

  @media all and (min-width: 500px){
    .first-time-contents{
      flex: 1;
      -webkit-flex: 1;
      -webkit-box-flex: 1;
      overflow-x: hidden;
      overflow-y: auto;
    }

    .player-edit-inputs{
      padding-right: 0;
    }
  }

  .first-time-main{
    padding: 1rem $firstTimePaddingSmall;
    background: White;
  }

  .first-time-footer{
    padding: .5rem $firstTimePaddingSmall;
    color: White;
    font-weight: 300;
  }

  @media all and (max-width: 500px){
    -webkit-box-orient: vertical;
    -webkit-flex-flow: column;
    flex-flow: column;
    flex-direction: column;

    & > header{
      height: 100px;
      font-size: 1.4rem;
      padding: $firstTimePadding;
      border-right: none;
    }

    .first-time-main{
      padding: 1rem $firstTimePadding
    }
    .first-time-footer{
      padding: 1.2rem $firstTimePadding;
    }
  }
}

#first-time-signin{
  font-size: 1.4rem;
  color: Black;
  margin-top: 3px;
  display: inline-block;
}