form{
  input[type=text], textarea, input[type=number], input[type=date], input[type=password], input[type=email]{
    border: solid 1px #b9cfd6;
    border-radius: 2px;
    background: White;
    padding: .5rem;
    width: 100%;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 1rem;
    font-weight: 300;

    &.input-small{
      width: 10rem;
    }
  }

  label{
    margin-bottom: 1rem;
    display: block;

    &.no-margin{
      margin-bottom: 0;
    }
  }
}

.input-unit{
  line-height: 2rem;
  padding: 0 .5rem;

  a{
    color: #017fcf;
    text-decoration: underline;

    &.ng-click-active{
      color: #019bff;
    }
  }
}
select{
  padding: .5rem;
  border: solid 1px #b9cfd6;
  font-size: 1rem;

  &.fancy-select{
    background: url(../images/icons/triangle.svg) no-repeat bottom right;
    border: none;
    outline: none;
    -webkit-appearance: none;
    padding: 0 .5rem .1rem 0;
    font-family: Roboto;
    color: #33b5e5;
    font-size: .85rem;
    position: relative;
    left: -3px;

    option{
      color: Black;
    }
  }
}

.button{
  display: inline-block;
  padding: .8rem;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1.1rem;
  white-space: nowrap;
  font-weight: 300;
  background-color: $defaultButtonBackgroundColor;
  background-repeat: no-repeat;
  background-position: .5rem center;
  background-size: 1rem;
  color: White;
  cursor: pointer;
  border-radius: 3px;

  &:hover{
    background: $defaultButtonBackgroundColorHover;
  }
  &:active, &.ng-click-active{
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px);
  }
  img{
    height: 1rem;
    vertical-align: middle;
    margin-right: .2rem;
    position: relative;
    top: -.1rem;
  }

  .button-text{
    @media all and (max-width: 320px){
      display: none;
    }
  }

  &[disabled]{
    opacity: .5;
    cursor: default;

    &:hover{
      background: $defaultButtonBackgroundColor;
    }
  }
}

.save-button{
  background: $saveBackgroundColor;
  color: $saveColor;
  cursor: pointer;

  &:hover, &.active{
    background-color: $saveBackgroundColorHover;
  }
}

.remove-button{
  background-color: #b52d35;
  color: White;
  cursor: pointer;

  &:hover{
    background-color: #cc3038;
  }
}

.form-error{
  background: #AD0000;
  padding: 1rem;
  color: white;
  text-align: center;
}

.error-highlight{
  border: solid 2px #ad0000 !important;
}

.text-button{
  background: none;
  color: #333;
  cursor: pointer;
  border-radius: 0;

  &:hover, &.active{
    background: none;
  }
}

.undo-button{
  background-color: #DFC822;
  color: Black;
  cursor: pointer;

  &:hover{
    background-color: #f6df22;
  }
}

.buttons-bar{
  @extend .flex-horizontal;

  a{
    margin-right: .5rem;

    &:last-child{
      margin-right: 0;
    }
  }
}

.vertical-buttons-bar{
  a{
    display: block;
    margin-bottom: .5rem;

    &:last-child{
      margin-bottom: 0;
    }
  }
}

.vertical-buttons-text{
  margin-bottom: .5rem;
  text-align: left;
}

.cancel-button{
  background: none;
  color: rgba(0,0,0,.6);

  &:hover{
    background: none;
    color: Black;
  }
}

.label-text{
  color: #7B8B91;
  text-transform: uppercase;
  font-size: .8rem;
  font-weight: bold;
  display: block;
  margin-bottom: .3rem;
}

.entry_photo_edit{
  text-align: center;
  margin-bottom: 1rem;

  div{
    font-size: .8em;
    color: #666;
  }
  .entry-image-edit{
    max-height: 280px;
    max-width: 100%;
  }
}
