form{
  input[type=text], textarea, input[type=number], input[type=date]{
    border: solid 1px #b9cfd6;
    border-radius: 2px;
    background: White;
    padding: .5em;
    width: 100%;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
    font-size: 1em;
    font-weight: 300;

    &.input-small{
      width: 10em;
    }
  }

  label{
    margin-bottom: 1em;
    display: block;

    &.no-margin{
      margin-bottom: 0;
    }
  }
}

select{
  padding: .5em;
  border: solid 1px #b9cfd6;
  font-size: 1em;
}

.button{
  display: inline-block;
  padding: .8em;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1.1em;
  white-space: nowrap;
  font-weight: 300;

  img{
    height: 1em;
    vertical-align: middle;
    margin-right: .2em;
    position: relative;
    top: -.1em;
  }
}

.save-button{
  background: #39b54a;
  color: White;
  cursor: pointer;

  &:hover{
    background-color: #3ED453;
  }
}

.cancel-button{
  color: rgba(0,0,0,.6);
}

.label-text{
  color: #7B8B91;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
  display: block;
  margin-bottom: .3em;
}