.items-list{
  list-style: none;
  margin: .5em 0 0;
  padding: 0;

  li{
    @extend .light-hoverable;

    border-bottom: solid 1px rgba(140, 149, 151, 0.20);
    overflow: hidden;
    cursor: pointer;
    padding: 0.8em 0.7em;

    &:last-child{
      border-bottom: none;
    }
  }

  .items-list-item-content{
    -webkit-transition: -webkit-transform 200ms ease-out;
    position: relative;
    z-index: 2;
    background: $contentBackgroundColor;

    &.removed{
      -webkit-transform: translateX(-80%);
      box-shadow: 5px 0 8px rgba(0,0,0,.6);
    }
  }

  .items-list-item-removed{
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8em 0.7em;
    height: 100%;
    box-sizing: border-box;
    background: #555;
    color: White;
    text-align: right;

    .item-removed-undo{
      padding: .4em .8em;
      margin-left: .5em;
    }
  }
  .item-icon{
    float: left;
    width: 2.5em;
    max-height: 2.5em;
  }

  .item-text{
    margin-left: 3em;
  }

  .item-details{
    color: #919191;
    font-size: .8em;
    margin-top: .5em;
  }

  .item-note{
    color: #888;
    font-size: .9em;
    margin: .3em 0;
  }

  .item-description{
    color: #666;
    font-size: .9em;
  }

  .item-value{
    color: #669900;
  }

  .item-measure{
    color: rgb(71, 125, 184);
  }

  .item-error{
    color: #c00;
  }
  blockquote{
    @extend .item-value;
    font-style: italic;

    &:before{
      content: open-quote;
    }

    &:after{
      content: close-quote;
    }
  }
}