#menu-wrapper{
  position: absolute;
  max-width: 85%;
  top: $actionbarHeight;
  bottom: 0;
  right: 0;
  overflow: hidden;
  display: none;
  padding-left: 1em;
  z-index: 101;

  &.visible{ display: block; }

  &.active{
    #menu{
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }
}

#menu{
  max-width: 100%;
  min-width: 18em;
  height: 100%;
  background: #e1e8ea;
  box-shadow: -2px 2px 15px rgba(0,0,0,.6);
  padding-bottom: .5em;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translateX(100%);
  transform: translateX(100%);
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out;

  ul{
    list-style: none;
    margin: 0;
    padding: 0;

    li{
      border-top: solid 1px rgba(154, 167, 172, 0.20);

      &:hover{
        background-color: #D7E0E2;
      }

      &.selected{
        background: #80cce6;
      }
    }
  }

  #players-menu{
    background: #eff5f7;
    padding-bottom: 2em;

    li{
      padding: 0;

      &.players-menu-add{
        padding: .5em;
        &:hover{
          background: none;
        }

        a {
          color: White;
          display: block;
          padding: .5em 1em;
          border-radius: 3px;
        }
      }

      a{
        padding: 1em;
      }
    }
    .players-menu-edit{
      background: rgba(154, 167, 172, 0.1);
      border-left: solid 1px rgba(154, 167, 172, 0.2);

      &:hover{
        background: rgba(6, 145, 199, 0.27);
      }
    }

    .child-menu-edit{
      height: 1.2em;
      opacity: .4;
      position: relative;
      top: 2px;
    }
    .child-menu-add{
      height: 1.2em;
      margin-right: .3em;
      vertical-align: middle;
    }

    .child-menu-icon{
      height: 2.5em;
      vertical-align: middle;
      border: solid 1px #4e5355;
      margin-right: .5em;
    }
    .child-menu-name{
      font-weight: bold;

    }
  }

  a{
    text-decoration: none;
    color: #333;
    padding: 1em 1.5em 1em 1em;
    display: block;
  }
  .menu-icon{
    display: block;
    float: left;
    width: 1.5em;
    height: 1.3em;
    text-align: center;
    opacity: .4;

    img{
      height: 1.3em;
    }
  }

  .menu-title{
    display: block;
    margin-left: 2.5em;
    font-size: 1em;
  }
}