#menu-wrapper {
  position: fixed;
  max-width: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: none;
  padding-right: 1rem;
  z-index: 101;

  &.visible {
    display: block;
  }

  &.active {
    #menu {
      -webkit-transform: translateX(0);
      transform: translateX(0);
    }
  }

  @media all and (min-width: $leftMenuMinWidth) {
    position: static;
    padding-right: 0;
    border-right: solid 1px #C6CCCE;
    background: #e1e8ea;

    &.render {
      display: block;
    }
  }
}

#menu {
  max-width: 100%;
  min-width: 16rem;
  height: 100%;
  background: White;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, .6);
  padding-bottom: .5rem;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: transform 300ms ease-out;
  -webkit-transition: -webkit-transform 300ms ease-out;

  @media all and (min-width: $leftMenuMinWidth) {
    width: 18rem;
    -webkit-transform: none;
    transform: none;
    -webkit-transition: none;
    -moz-transition: none;
    -ms-transition: none;
    -o-transition: none;
    transition: none;
    box-shadow: none;

  }

  .actionbar {
    padding: 0 0 0 $padding;
    font-weight: bold;
  }

  .app-name {
    font-size: 1.2rem;
  }
  ul {
    list-style: none;
    margin: 0;
    padding: 1rem 0 0;

    a {
      text-decoration: none;
      color: #333;
      padding: 1rem 1.5rem 1rem 1rem;
      display: block;
    }

    li {
      &:hover {
        background-color: #D7E0E2;
      }

      &:active, &.ng-click-active {
        background-color: #c1cacc;
      }

      &.selected {
        background: #80cce6;
      }
    }
  }

  .menu-icon {
    display: block;
    float: left;
    width: 1.5rem;
    height: 1.3rem;
    text-align: center;
    opacity: .4;

    img {
      height: 1.3rem;
    }
  }

  .menu-title {
    display: block;
    margin-left: 2.5rem;
    font-size: 1rem;
  }
}

.offline #menu li.disable-offline a {
  opacity: .4;
  cursor: not-allowed;
}