.player-edit{
  .player-edit-avatar{
    padding-right: 2rem;

    .button .img{
      height: 1.5rem;
    }

    @media all and (max-width: 500px){
      .button{
        display: block;
      }
    }
  }

  .avatar-buttons{
    text-align: center;
  }

  .avatar{
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: solid .3rem White;

    @media all and (max-width: 500px){
      width: 5rem;
      height: 5rem;
    }

    &.avatar-placeholder{
      background: #01A8CF url(../images/icons/user.svg) no-repeat bottom center;
      background-size: contain;
    }

    img{
      @media all and (max-width: 500px){
        width: 5rem;
        height: 5rem;
      }

      border-radius: 50%;
      width: 8rem;
      height: 8rem;
    }
  }
}

.player-edit{
  padding-top: 1rem;

  .player-image{
    width: 7rem;
    height: 7rem;
    background: #1e94f6 url(../images/icons/user.svg) no-repeat center 100%;
    background-size: 97%;
    border-radius: 50%;
    margin: auto;
    border: solid 3px #1e94f6;
    cursor: pointer;

    &.with-image{
      background-position: top center;
      background-size: cover;
    }
  }

  @media all and (min-width: 500px){
    form{
      @extend .flex;
      display: -webkit-box;
      display: -webkit-flex;
      display: flex;
      -webkit-box-orient: horizontal;
      -webkit-flex-flow: row;
      flex-flow: row;
      flex-direction: row;
    }

    .player-edit-inputs{
      flex: 1;
      -webkit-flex: 1;
      -webkit-box-flex: 1;

      text-align: left;
      padding: .5rem 1.5rem 0;
    }
  }
}
