$popupHeaderHeight: $contentsHeaderHeight;

.popup{
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #f4f4f4;

  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;

  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
  
  &.visible{
    @extend .flex;
  }

  &.active{
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0);
  }


  header{
    background: $actionbarBackground;
    color: $actionbarColor;
    height: $popupHeaderHeight;
    line-height: $popupHeaderHeight - 0.2;
    font-weight: 300;

    .popup-icon{
      max-height: 1.3rem;
      max-width: 1.3rem;
      vertical-align: middle;
      margin-top: -.1rem;
      margin-right: .3rem;
    }

    .popup-title{
      display: block;
      font-size: 1.3rem;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: .5rem;
    }

    .close-button{
      display: block;
      height: 2rem;
      padding: .5rem;
      width: 2rem;
      text-align: center;
      line-height: 2rem;

      img{
        height: 1.3rem;
        margin-top: 4px;
        margin-left: -2px;
      }
    }

    .popup-header-button{
      @extend .contents-header-button;
    }
  }

  .popup-contents{
    height: 100%;
    padding: 1rem 1rem 0;
  }

  p.popup-text{
    margin-top: 0;
    line-height: 1.5rem;
    text-align: justify;
    color: #555;

    strong{
      color: $contentTextColor;
    }
  }
  footer{
    padding: 1rem 0;
  }

  &.no-padding{
    .popup-contents{ padding: 0 }
  }

  &.dark{
    background: #183e5b;
  }
}