@import "vars";

body{
  color: $textColor;
  background: $backgroundColor;
  text-align: center;
}

a{ color: White; text-decoration: none }
#logo{
  font-family: Roboto Condensed, Roboto, Sans-Serif;
  padding-bottom: 2em;
  box-sizing: border-box;

  img{
    width: 30%;
    min-width: 80px;
    max-width: 120px;
  }

  h1 {
    font-weight: normal;
    font-size: 2.3em;

  }
}
#login{
  height: 70%;
  padding-top: 15%;

  form{
    height: 66%;
    width: 72%;
    margin: 0 auto;
    max-width: 400px;

    label{
      display: block;
      height: $inputHeight;
      border-radius: $inputBorderRadius;
      margin-bottom: 1em;
      background: $secondaryColor;

      .input-image{
        display: inline-block;
        float: left;
        width: $inputHeight;
        height: 100%;
        line-height: $inputHeight;
      }
      img{
        width: 1.5em;
        height: 1.5em;
        margin-top: .5em;
      }
    }

    .input-wrapper{
      margin: 0 0 0 $inputHeight;
      height: 100%;

      &.submit-input-wrapper{
        margin: 2em 0 1em;
        height: $inputHeight;

        &.submit-input-external{
          margin-top: 1em;
        }
      }
    }

    input{
      font-family: Roboto, Sans-Serif;
    }
    input[type=text], input[type=password]{
      height: 100%;
      box-sizing: border-box;
      line-height: $inputHeight - 1;
      padding: 0 20px;
      background: $secondaryColorLighter;
      color: rgba(255, 255, 255, .5);
      border: none;
      outline: none;
      border-radius: 0 $inputBorderRadius $inputBorderRadius 0;
      text-align: left;
      width: 100%;

      -webkit-transition: all 300ms ease-out;
      font-size: 1.1em;

      &:focus{
        background: lighten($secondaryColor, 50%);
        color: #222;
      }
    }

    input[type=submit], .button{
      height: 100%;
      line-height: $inputHeight - .7;
      background: $highlightColor;
      color: $textColor;
      font-size: 18px;
      border: none;
      width: 100%;
      border-radius: $inputBorderRadius;
      cursor: pointer;
      outline: none;
      font-size: 1.3em;
      text-shadow: 0 1px 1px rgba(0,0,0,.5);
      padding: 0;

      &:hover, &:focus{
        background: lighten($highlightColor, .4);
      }

      &.facebook-button{
        background: #31353d;
        display: block;

      }
    }
  }
}

.secondary-color{
  color: $secondaryTextColor;
}
.facebook-logo{
  background: -webkit-linear-gradient(top, #5074b0, #405786);
  height: 1.9em;
  width: 1.9em;
  text-align: center;
  border: solid 1px #394a6a;
  border-radius: 2px;
  display: inline-block;
  float: left;
  margin: 0.2em;
  padding: 3px;
  box-sizing: border-box;

  img{
    height: 100%;
  }
}

.create-user-button{
  display: block;
  padding: 1em;
  text-align: center;
  font-size: 1.3em;
  margin-top: 1em;
}