@import "vars";

$actionbarHeight: 3em;
$contentsHeaderHeight: 2em;
$tabsHeight: 2.5em;
$padding: .5em;

body{
  background: #f4f4f4;
  color: #243033;
  padding: 0;
  margin: 0;

  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
}
#actionbar{
  height: $actionbarHeight;
  line-height: $actionbarHeight - .1;
  background: $actionbarBackground;
  color: $actionbarColor;
  text-align: center;
  font-size: 1.2em;
  padding: 0 .1em;

  #back-button{
    float: left;
    line-height: $actionbarHeight * .8;
    text-decoration: none;
    color: White;
    width: $actionbarHeight * 1.3;

    .back-icon{
      height: $actionbarHeight * .3;
      float: left;
      margin: 25% .1cm 0;
    }

    #back-img{
      height: $actionbarHeight * .8;
      width: $actionbarHeight * .8;
      border-radius: 1px;
      box-shadow: 0 1px 9px rgba(0,0,0,.75);
      margin-top: $actionbarHeight * .1;
      vertical-align: middle;
    }
  }

  #actionbar-name{
    display: block;
    margin: 0 $actionbarHeight * 1.5;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.3em;
  }
}

#contents{
  flex: 1;
  -webkit-flex: 1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
}
.contents-header{
  height: $contentsHeaderHeight;
  line-height: $contentsHeaderHeight;
  background: $headerBackground;
  color: $headerColor;
  font-size: 1.2em;
  padding: 0 $padding;
  border-bottom: solid 1px #d2d2d2;
  box-sizing: border-box;

  select{
    font-family: Roboto Condensed, Roboto, Sans-Serif;
  }
}

.contents-scroll{
  flex: 1;
  -webkit-flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.header-controls{
  float: right;

  a{
    display: inline-block;
    height: $contentsHeaderHeight * .65;
    margin-top: $contentsHeaderHeight * .15;
  }
  img{
    height: 100%
  }
}

#tabs{
  height: $tabsHeight;
  background: #dadfe1;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  flex-direction: row;
  box-shadow: 0 -1px 5px rgba(0,0,0,.5);

  a{
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
    line-height: $tabsHeight;
    text-decoration: none;
    color: #9da1a2;

    &.selected{
      background: #edb370;
      color: #222;
    }
  }
}
@import "items-list";