@import "vars";

$contentsHeaderHeight: 2em;
$tabsHeight: 2.5em;
$padding: .5em;

body{
  background: #f4f4f4;
  color: #243033;
  padding: 0;
  margin: 0;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
}
#actionbar{
  height: $actionbarHeight;
  line-height: $actionbarHeight - .1;
  background: $actionbarBackground;
  color: $actionbarColor;
  text-align: center;
  padding: 0 .1em;

  #back-button{
    float: left;
    line-height: $actionbarHeight * .8;
    text-decoration: none;
    color: White;
    width: $actionbarHeight * 1.3;

    .back-icon{
      height: $actionbarHeight * .3;
      float: left;
      margin: 25% .1cm 0;
    }

    #back-img{
      height: $actionbarHeight * .8;
      width: $actionbarHeight * .8;
      border-radius: 1px;
      box-shadow: 0 1px 9px rgba(0,0,0,.75);
      margin-top: $actionbarHeight * .1;
      vertical-align: middle;
    }
  }

  #actionbar-name{
    display: block;
    margin: 0 3em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.3em;
  }

  #menu-button{
    float: right;
    display: block;
    height: 100%;
    width: 2em;
    text-align: center;
    opacity: .5;

    img{
      height: 50%;
      margin-top: 35%;
    }

    &.active{
      opacity: 1;
    }
  }
}

#contents{
  flex: 1;
  -webkit-box-flex: 1;
  -webkit-flex: 1;

  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  flex-direction: column;
}
.contents-header{
  height: $contentsHeaderHeight;
  line-height: $contentsHeaderHeight;
  background: $headerBackground;
  color: $headerColor;
  font-size: 1.2em;
  padding: 0 $padding;
  border-bottom: solid 1px #d2d2d2;
  box-sizing: border-box;

  select{
    font-family: Roboto Condensed, Roboto, Sans-Serif;
  }
}

.contents-scroll{
  -webkit-box-flex: 1;
  flex: 1;
  -webkit-flex: 1;
  overflow-y: auto;
  overflow-x: hidden;
}
.header-controls{
  float: right;

  a{
    display: inline-block;
    height: $contentsHeaderHeight * .65;
    margin-top: $contentsHeaderHeight * .15;
  }
  img{
    height: 100%
  }
}

#tabs{
  height: $tabsHeight;
  background: #dadfe1;
  display: -webkit-box;
  display: -webkit-box-flex;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  flex-direction: row;
  box-shadow: 0 -1px 5px rgba(0,0,0,.5);
  -webkit-box-orient: horizontal;

  a{
    display: block;
    -webkit-box-flex: 1;
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
    line-height: $tabsHeight;
    text-decoration: none;
    color: #9da1a2;
    border-right: solid 1px rgba(0,0,0,.1);
    box-sizing: border-box;

    &:last-child{
      border-right: none;
    }
    &.selected{
      background: #FFE525;
      color: #222;
    }
  }
}

#overlay{
  position: absolute;
  top: $actionbarHeight;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
  display: none;

  &.visible{ display: block; }
  &.active{ opacity: .3 }
}
@import "items-list";
@import "menu";