@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
  font-weight: 400;
  font-style: normal; }

@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: url(fonts/Roboto/Roboto-Bold.ttf); }

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/Roboto/Roboto-Light.ttf); }

html, body {
  height: 100%; }

body {
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0; }

body {
  background: #f4f4f4;
  color: #243033;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  flex-direction: column; }

a {
  cursor: pointer; }

.flex-horizontal, .buttons-bar, .double-panel {
  display: -webkit-box;
  -webkit-box-orient: horizontal;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: row;
  flex-flow: row;
  flex-direction: row; }

.flex-vertical {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-flow: column;
  flex-flow: column;
  flex-direction: column; }

.flex, .popup.visible {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex; }

.flex-1, .double-panel .panel {
  flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1; }

.flex-2 {
  flex: 2;
  -webkit-flex: 2;
  -webkit-box-flex: 2; }

.scroll-vertical {
  overflow-x: hidden;
  overflow-y: auto; }

@media all and (max-width: 400px) {
  .hide-small-width {
    display: none; } }

@media all and (max-width: 380px) {
  .hide-smallest-width {
    display: none; } }

.hide-default {
  display: none; }
  .hide-default.visible {
    display: block; }

.player-edit-image {
  height: 6.9em;
  max-width: 7em;
  border: solid 1px rgba(0, 0, 0, 0.2);
  margin-right: .5em; }

.header-button:hover, .actionbar .actionbar-button:hover, .popup header .close-button:hover, .dialog header .close-button:hover {
  background-color: #00A8E0; }
.header-button:active, .actionbar .actionbar-button:active, .popup header .close-button:active, .dialog header .close-button:active, .header-button.ng-click-active, .actionbar .ng-click-active.actionbar-button, .popup header .ng-click-active.close-button, .dialog header .ng-click-active.close-button {
  background-color: #00befd; }

#menu-button {
  display: none; }
  #menu-button.render {
    display: block; }
  @media all and (min-width: 1000px) {
    #menu-button {
      display: none; }
      #menu-button.render {
        display: none; } }

@media all and (min-width: 1000px) {
  #app-title {
    padding-left: .8em; } }
#app-title.pad-side {
  padding-left: .8em; }

.actionbar {
  height: 3.5em;
  line-height: 3.4em;
  background: #017fcf;
  color: white;
  box-shadow: 0 3px 4px rgba(0, 0, 0, 0.25);
  z-index: 1; }
  .actionbar .edit-button {
    height: .8em; }
  .actionbar #back-button {
    float: left;
    line-height: 2.8em;
    text-decoration: none;
    color: White;
    width: 4.55em; }
    .actionbar #back-button .back-icon {
      height: 1.05em;
      float: left;
      margin: 25% .1cm 0; }
    .actionbar #back-button #back-img {
      height: 2.8em;
      width: 2.8em;
      border-radius: 1px;
      box-shadow: 0 1px 9px rgba(0, 0, 0, 0.75);
      margin-top: 0.35em;
      vertical-align: middle; }
  .actionbar #actionbar-name {
    display: block;
    padding-right: .5em;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-size: 1.5em;
    font-weight: 300; }
  .actionbar #actionbar-image {
    display: block;
    height: 3em;
    width: 3em;
    margin-right: .5em;
    margin-top: .2em;
    border: solid 1px rgba(255, 255, 255, 0.2);
    background-position: 20% center;
    background-size: cover;
    background-repeat: no-repeat; }
  .actionbar .actionbar-button {
    display: inline-block;
    height: 100%;
    width: 2em;
    text-align: center;
    padding: 0 .5em; }
    .actionbar .actionbar-button img {
      height: 1.75em;
      margin-top: 0.875em; }
    .actionbar .actionbar-button.active {
      background: rgba(255, 255, 255, 0.3); }
    .actionbar .actionbar-button.selectable {
      opacity: .5;
      transform: scale(0.8);
      -webkit-transform: scale(0.8);
      -ms-transform: scale(0.8); }
    .actionbar .actionbar-button.selected {
      opacity: 1; }
    .actionbar .actionbar-button:active, .actionbar .actionbar-button.ng-click-active {
      opacity: 1; }

#contents-wrapper {
  overflow: hidden;
  position: relative;
  -webkit-box-orient: vertical;
  -webkit-flex-flow: column;
  flex-flow: column;
  flex-direction: column; }
  @media all and (max-height: 500px) and (orientation: landscape) {
    #contents-wrapper {
      -webkit-flex-flow: row;
      flex-flow: row;
      flex-direction: row-reverse; }
      #contents-wrapper #tabs {
        height: auto;
        width: 3.5em;
        -webkit-flex-flow: column;
        flex-flow: column;
        flex-direction: column;
        box-shadow: none;
        border-right: solid 1px rgba(0, 0, 0, 0.1); }
        #contents-wrapper #tabs a {
          border-right: none;
          border-bottom: solid 1px rgba(0, 0, 0, 0.1); }
          #contents-wrapper #tabs a:last-child {
            border-bottom: none; } }

@media all and (max-width: 400px) {
  .large-width-only {
    display: none; } }

#contents {
  position: relative; }

.contents-header {
  height: 3em;
  line-height: 3em;
  background: white;
  color: #333333;
  font-weight: bold;
  padding-left: 0.8em;
  border-bottom: solid 1px #d2d2d2;
  box-sizing: border-box;
  font-size: 1.2em; }
  .contents-header h2 {
    font-size: 1.3em;
    margin: 0;
    padding: 0;
    font-weight: 300; }
  .contents-header.dark {
    background: #163852;
    color: white;
    border-bottom: none; }
    .contents-header.dark select.fancy-select {
      color: White;
      border-bottom: none; }
  .contents-header.with-buttons {
    padding: 0; }

.contents-header-button, .popup header .popup-header-button {
  display: inline-block;
  vertical-align: top;
  height: 3em;
  width: 3em;
  text-align: center;
  line-height: 3.6em; }
  .contents-header-button:hover, .popup header .popup-header-button:hover {
    background: rgba(255, 255, 255, 0.1); }
  .contents-header-button:active, .popup header .popup-header-button:active, .contents-header-button.ng-click-active, .popup header .ng-click-active.popup-header-button {
    background: rgba(255, 255, 255, 0.25); }
  .contents-header-button img, .popup header .popup-header-button img {
    height: 50%;
    max-width: 60%; }

.contents-scroll {
  overflow-y: auto;
  overflow-x: hidden; }

.contents-empty-message {
  -webkit-align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  text-align: center; }
  .contents-empty-message div {
    margin: 0 auto; }
  .contents-empty-message p {
    opacity: .5;
    font-size: 1.2em;
    font-weight: 300; }
    .contents-empty-message p.contents-empty-message-title {
      color: #017fcf;
      opacity: 1;
      font-weight: 400;
      text-shadow: -1px 1px 0 White;
      font-size: 1.3em; }

.centered-buttons-block {
  position: relative;
  top: -1em; }

.light-hoverable:hover, .items-list li:hover, #insights-list li:hover {
  background-color: rgba(92, 210, 250, 0.18); }
.light-hoverable:active, .items-list li:active, #insights-list li:active, .light-hoverable.ng-click-active, .items-list li.ng-click-active, #insights-list li.ng-click-active {
  background-color: rgba(92, 210, 250, 0.5); }

.comment {
  font-weight: 300;
  opacity: .56;
  text-align: center;
  padding: 1em; }

#newEntryButton {
  padding: 0;
  width: 3em;
  text-align: center; }

#tabs {
  height: 2.5em;
  background: #dadfe1;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.5);
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  position: relative;
  z-index: 5;
  box-sizing: border-box; }
  #tabs a {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    flex: 1;
    -webkit-flex: 1;
    text-align: center;
    line-height: 2.5em;
    text-decoration: none;
    color: #9da1a2;
    border-right: solid 1px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    overflow: hidden;
    -webkit-align-items: center; }
    #tabs a:last-child {
      border-right: none; }
    #tabs a.selected {
      background: #fcc435;
      color: #222; }
    #tabs a span {
      display: block;
      text-align: center;
      width: 100%;
      font-weight: 300;
      font-size: 1.2em; }

@-webkit-keyframes rotate {
  from {
    -webkit-transform: rotate(0deg); }

  to {
    -webkit-transform: rotate(-360deg); } }

#spinner {
  -webkit-transition: opacity 400ms ease-out;
  -moz-transition: opacity 400ms ease-out;
  -ms-transition: opacity 400ms ease-out;
  -o-transition: opacity 400ms ease-out;
  transition: opacity 400ms ease-out;
  display: none;
  opacity: 0; }
  #spinner img {
    width: 2em;
    height: 2em;
    -webkit-animation-name: rotate;
    -webkit-animation-duration: 1.5s;
    -webkit-animation-iteration-count: infinite;
    -webkit-animation-timing-function: linear; }
  #spinner.visible {
    display: inline-block; }
  #spinner.active {
    opacity: 1; }

.floating-message {
  position: fixed;
  top: 85%;
  right: 0;
  left: 0;
  z-index: 102;
  text-align: center;
  padding: 0 1em; }
  .floating-message .floating-message-contents {
    background: rgba(0, 0, 0, 0.8);
    border-radius: 7px;
    color: #b8b8b8;
    display: inline-block;
    padding: .5em 1em;
    font-size: 1.2em;
    line-height: 1.4em; }
    .floating-message .floating-message-contents img {
      height: 1em; }
    .floating-message .floating-message-contents a {
      color: #00bff3;
      margin-left: 1em; }

#overlay {
  position: fixed;
  z-index: 100;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #000;
  opacity: 0;
  -webkit-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
  display: none; }
  #overlay.visible {
    display: block; }
  #overlay.active {
    opacity: 0.4; }
  @media all and (min-width: 1000px) {
    #overlay {
      display: none; } }

.items-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .items-list li {
    border-bottom: solid 1px rgba(140, 149, 151, 0.2);
    overflow: hidden;
    cursor: pointer;
    padding: 0.8em 0.7em; }
    .items-list li:last-child {
      border-bottom: none; }
  .items-list .items-list-item-content {
    -webkit-transition: -webkit-transform 200ms ease-out;
    position: relative;
    z-index: 2;
    background: #f4f4f4; }
    .items-list .items-list-item-content.removed {
      -webkit-transform: translateX(-80%);
      box-shadow: 5px 0 8px rgba(0, 0, 0, 0.6); }
  .items-list .items-list-item-removed {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 100%;
    padding: 0.8em 0.7em;
    height: 100%;
    box-sizing: border-box;
    background: #555;
    color: White;
    text-align: right; }
    .items-list .items-list-item-removed .item-removed-undo {
      padding: .4em .8em;
      margin-left: .5em; }
  .items-list .item-icon {
    float: left;
    width: 2.5em;
    max-height: 2.5em; }
  .items-list .item-text {
    margin-left: 3em; }
  .items-list .item-details {
    color: #919191;
    font-size: .8em;
    margin-top: .5em; }
  .items-list .item-note {
    color: #888;
    font-size: .9em;
    margin: .3em 0; }
  .items-list .item-description {
    color: #666;
    font-size: .9em; }
  .items-list .item-value, .items-list blockquote {
    color: #669900; }
  .items-list .item-measure {
    color: #477db8; }
  .items-list .item-error {
    color: #c00; }
  .items-list blockquote {
    font-style: italic; }
    .items-list blockquote:before {
      content: open-quote; }
    .items-list blockquote:after {
      content: close-quote; }

#menu-wrapper {
  position: fixed;
  max-width: 80%;
  top: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  display: none;
  padding-right: 1em;
  z-index: 101; }
  #menu-wrapper.visible {
    display: block; }
  #menu-wrapper.active #menu {
    -webkit-transform: translateX(0);
    transform: translateX(0); }
  @media all and (min-width: 1000px) {
    #menu-wrapper {
      position: static;
      padding-right: 0;
      border-right: solid 1px #C6CCCE;
      background: #e1e8ea; }
      #menu-wrapper.render {
        display: block; } }

#menu {
  max-width: 100%;
  min-width: 16em;
  height: 100%;
  background: #e1e8ea;
  box-shadow: 2px 2px 15px rgba(0, 0, 0, 0.6);
  padding-bottom: .5em;
  box-sizing: border-box;
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translateX(-100%);
  transform: translateX(-100%);
  transition: all 300ms ease-out;
  -webkit-transition: all 300ms ease-out; }
  @media all and (min-width: 1000px) {
    #menu {
      width: 18em;
      -webkit-transform: none;
      transform: none;
      -webkit-transition: none;
      -moz-transition: none;
      -ms-transition: none;
      -o-transition: none;
      transition: none;
      box-shadow: none; } }
  #menu .actionbar {
    padding: 0 0.8em;
    font-weight: bold; }
  #menu .app-name {
    font-size: 1.2em; }
  #menu ul {
    list-style: none;
    margin: 0;
    padding: 0; }
    #menu ul li {
      border-top: solid 1px rgba(154, 167, 172, 0.2); }
      #menu ul li:hover {
        background-color: #D7E0E2; }
      #menu ul li:active, #menu ul li.ng-click-active {
        background-color: #c1cacc; }
      #menu ul li.selected {
        background: #80cce6; }
  #menu #players-menu {
    background: #eff5f7;
    padding-bottom: 2em; }
    #menu #players-menu li {
      padding: 0; }
      #menu #players-menu li.players-menu-add {
        padding: .5em; }
        #menu #players-menu li.players-menu-add:hover {
          background: none; }
        #menu #players-menu li.players-menu-add a {
          color: White;
          display: block;
          padding: .5em 1em;
          border-radius: 3px; }
      #menu #players-menu li a {
        padding: 1em; }
      #menu #players-menu li.with-image a.flex-1, #menu #players-menu li.with-image .double-panel a.panel, .double-panel #menu #players-menu li.with-image a.panel {
        padding: .5em; }
    #menu #players-menu .player-image {
      height: 2.5em;
      vertical-align: middle;
      border-radius: 50%;
      margin-right: .3em;
      margin-top: -1px; }
    #menu #players-menu .players-menu-edit {
      background: rgba(154, 167, 172, 0.1);
      border-left: solid 1px rgba(154, 167, 172, 0.2); }
      #menu #players-menu .players-menu-edit:hover {
        background: rgba(6, 145, 199, 0.27); }
    #menu #players-menu .child-menu-edit {
      height: 1.2em;
      opacity: .4;
      position: relative;
      top: 2px; }
    #menu #players-menu .child-menu-add {
      height: 1.2em;
      margin-right: .3em;
      vertical-align: middle; }
    #menu #players-menu .child-menu-icon {
      height: 2.5em;
      vertical-align: middle;
      border: solid 1px #4e5355;
      margin-right: .5em; }
    #menu #players-menu .child-menu-name {
      font-weight: bold; }
  #menu a {
    text-decoration: none;
    color: #333;
    padding: 1em 1.5em 1em 1em;
    display: block; }
  #menu .menu-icon {
    display: block;
    float: left;
    width: 1.5em;
    height: 1.3em;
    text-align: center;
    opacity: .4; }
    #menu .menu-icon img {
      height: 1.3em; }
  #menu .menu-title {
    display: block;
    margin-left: 2.5em;
    font-size: 1em; }

.offline #menu li.disable-offline a {
  opacity: .4;
  cursor: not-allowed; }

.popup {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  background: #f4f4f4;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  -webkit-transform: translateX(100%);
  -moz-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%); }
  .popup.active {
    -webkit-transform: translateX(0);
    -moz-transform: translateX(0);
    -ms-transform: translateX(0);
    -o-transform: translateX(0);
    transform: translateX(0); }
  .popup header {
    background: #017fcf;
    color: white;
    height: 3em;
    line-height: 2.8em;
    font-weight: 300; }
    .popup header .popup-title {
      font-size: 1.3em;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      padding-left: .5em; }
    .popup header .close-button {
      display: block;
      height: 2em;
      padding: .5em;
      width: 2em;
      text-align: center;
      line-height: 2em; }
      .popup header .close-button img {
        height: 1.3em;
        margin-top: 4px;
        margin-left: -2px; }
  .popup .popup-contents {
    height: 100%;
    padding: 1em 1em 0; }
  .popup p.popup-text {
    margin-top: 0;
    line-height: 1.5em;
    text-align: justify;
    color: #555; }
    .popup p.popup-text strong {
      color: #243033; }
  .popup footer {
    padding: 1em; }

.dialog-container {
  display: none;
  opacity: 0;
  background: rgba(0, 0, 0, 0.56);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 99999;
  -webkit-transition: opacity 200ms ease-out;
  transition: opacity 200ms ease-out; }
  .dialog-container.visible {
    display: block; }
  .dialog-container.active {
    opacity: 1; }

.dialog-wrapper {
  position: fixed;
  z-index: 109;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 2.5em;
  box-sizing: border-box;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  pointer-events: none;
  -webkit-align-items: center;
  -moz-justify-content: center;
  justify-content: center; }

.dialog-background {
  position: absolute;
  z-index: 105;
  padding: 0;
  pointer-events: all; }

.dialog {
  pointer-events: all;
  width: 100%;
  max-width: 15cm;
  max-height: 100%;
  background: #fafafa;
  border-radius: 2px;
  box-shadow: 0 5px 30px rgba(0, 0, 0, 0.5); }
  .dialog header {
    font-weight: bold;
    font-size: 1em;
    padding: 1em 1.5em; }
    .dialog header .dialog-title {
      font-size: 1.3em; }
    .dialog header .close-button {
      float: right;
      display: block;
      height: 2em;
      padding: .5em;
      width: 2em;
      text-align: center;
      line-height: 2em; }
      .dialog header .close-button img {
        height: 1em;
        margin-top: 8px; }
  .dialog .dialog-contents {
    padding: 1em 1em 0; }
  .dialog p.dialog-text {
    margin-top: 0;
    line-height: 1.5em;
    text-align: justify;
    color: #555; }
    .dialog p.dialog-text strong {
      color: #243033; }
  .dialog footer {
    padding: 1em; }

form input[type=text], form textarea, form input[type=number], form input[type=date], form input[type=password], form input[type=email] {
  border: solid 1px #b9cfd6;
  border-radius: 2px;
  background: White;
  padding: .5em;
  width: 100%;
  box-sizing: border-box;
  font-family: Roboto, sans-serif;
  font-size: 1em;
  font-weight: 300; }
  form input[type=text].input-small, form textarea.input-small, form input[type=number].input-small, form input[type=date].input-small, form input[type=password].input-small, form input[type=email].input-small {
    width: 10em; }
form label {
  margin-bottom: 1em;
  display: block; }
  form label.no-margin {
    margin-bottom: 0; }

select {
  padding: .5em;
  border: solid 1px #b9cfd6;
  font-size: 1em; }
  select.fancy-select {
    background: url(../images/icons/triangle.svg) no-repeat bottom right;
    border: none;
    outline: none;
    -webkit-appearance: none;
    border-bottom: solid 2px #BEC9CC;
    padding: .2em 1em .1em 0;
    font-family: Roboto;
    font-weight: 300;
    color: inherit; }

.button {
  display: inline-block;
  padding: .8em;
  text-align: center;
  text-decoration: none;
  box-sizing: border-box;
  font-size: 1.1em;
  white-space: nowrap;
  font-weight: 300;
  background: #57a3e5;
  color: White;
  cursor: pointer;
  border-radius: 3px; }
  .button:hover {
    background: #58aef1; }
  .button:active, .button.ng-click-active {
    -webkit-transform: translateY(2px);
    -moz-transform: translateY(2px);
    -ms-transform: translateY(2px);
    -o-transform: translateY(2px);
    transform: translateY(2px); }
  .button img {
    height: 1em;
    vertical-align: middle;
    margin-right: .2em;
    position: relative;
    top: -.1em; }
  @media all and (max-width: 320px) {
    .button .button-text {
      display: none; } }
  .button[disabled] {
    opacity: .5;
    cursor: default; }
    .button[disabled]:hover {
      background: #57a3e5; }

.save-button {
  background: #39b54a;
  color: white;
  cursor: pointer; }
  .save-button:hover, .save-button.active {
    background-color: #3ed453; }

.remove-button {
  background-color: #b52d35;
  color: White;
  cursor: pointer; }
  .remove-button:hover {
    background-color: #cc3038; }

.form-error {
  background: #AD0000;
  padding: 1em;
  color: white;
  text-align: center; }

.error-highlight {
  border: solid 2px #ad0000 !important; }

.text-button {
  background: none;
  color: #333;
  cursor: pointer;
  border-radius: 0; }
  .text-button:hover, .text-button.active {
    background: none; }

.undo-button {
  background-color: #DFC822;
  color: Black;
  cursor: pointer; }
  .undo-button:hover {
    background-color: #f6df22; }

.buttons-bar a {
  margin-right: .5em; }
  .buttons-bar a:last-child {
    margin-right: 0; }

.vertical-buttons-bar a {
  display: block;
  margin-bottom: .5em; }
  .vertical-buttons-bar a:last-child {
    margin-bottom: 0; }

.vertical-buttons-text {
  margin-bottom: .5em;
  text-align: left; }

.cancel-button {
  background: none;
  color: rgba(0, 0, 0, 0.6); }
  .cancel-button:hover {
    background: none;
    color: Black; }

.label-text {
  color: #7B8B91;
  text-transform: uppercase;
  font-size: .8em;
  font-weight: bold;
  display: block;
  margin-bottom: .3em; }

.panel-wrapper {
  overflow: hidden; }

.double-panel {
  width: 200%;
  height: 100%;
  -webkit-transition: all 300ms ease-out;
  -moz-transition: all 300ms ease-out;
  -ms-transition: all 300ms ease-out;
  -o-transition: all 300ms ease-out;
  transition: all 300ms ease-out;
  -webkit-transform: translateX(0);
  -moz-transform: translateX(0);
  -ms-transform: translateX(0);
  -o-transform: translateX(0);
  transform: translateX(0); }
  .double-panel.panel-shifted {
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    transform: translateX(-50%); }

.entry-types-dialog-wrapper {
  position: absolute;
  top: 3em;
  left: 0;
  width: 100%;
  padding-bottom: 1em;
  overflow: hidden;
  display: none;
  height: 70%;
  z-index: 100; }
  .entry-types-dialog-wrapper.visible {
    display: block; }

.entry-types-dialog {
  background: #e1e8ea;
  box-shadow: 0 2px 15px rgba(0, 0, 0, 0.6);
  overflow-x: hidden;
  overflow-y: auto;
  -webkit-transform: translateY(-100%);
  -webkit-transition: all 200ms ease-out;
  position: absolute;
  top: 0;
  max-height: 95%;
  left: 0;
  right: 0; }
  .entry-types-dialog.active {
    -webkit-transform: translateY(0); }

.entry-types-list {
  list-style: none;
  margin: 0;
  padding: 0; }
  .entry-types-list li {
    cursor: pointer;
    padding: 1em 0;
    font-size: 1.2em;
    margin: 0;
    display: inline-block;
    height: 7em;
    text-align: center;
    width: 33.3%;
    box-sizing: border-box;
    vertical-align: top; }
    @media all and (max-width: 450px) {
      .entry-types-list li {
        width: 50%;
        font-size: 1.1em; } }
    .entry-types-list li:hover {
      background-color: rgba(92, 210, 250, 0.18); }
    .entry-types-list li:active, .entry-types-list li.ng-click-active {
      background-color: rgba(92, 210, 250, 0.5); }
    .entry-types-list li .entry-image {
      height: 3em; }
    .entry-types-list li img {
      max-width: 4em;
      max-height: 3em; }
    .entry-types-list li span {
      display: block;
      margin-top: .3em; }
  .entry-types-list .entry-type-name {
    font-size: .9em; }

#teeth-selection {
  text-align: center;
  position: relative; }
  #teeth-selection svg {
    max-width: 100%;
    max-height: 70%;
    margin-bottom: .5em;
    outline: none; }
    #teeth-selection svg .tooth, #teeth-selection svg .shadow {
      cursor: pointer; }
  #teeth-selection .tooth-name {
    position: absolute;
    top: 50%;
    margin-top: -1em;
    width: 100%;
    font-size: 1em; }

svg.graph {
  margin: 0 auto; }
  svg.graph .legend text {
    fill: #666666; }

.chart-wrapper {
  background: #183e5b;
  padding: .5em 1em;
  box-sizing: border-box; }

.chart {
  box-sizing: border-box; }
  .chart .axis path,
  .chart .axis line {
    fill: none; }
  .chart .grid line {
    stroke: #2a4d68;
    stroke-width: 2px; }
  .chart .grid text {
    fill: none; }
  .chart .axis text {
    fill: White;
    font-size: .9em; }
  .chart .labels {
    pointer-events: none; }
    .chart .labels.selected {
      color: White; }
  .chart .crisp {
    shape-rendering: crispEdges; }
  .chart .handle-events {
    cursor: pointer; }
    .chart .handle-events.label-box {
      opacity: 0;
      -webkit-transition: opacity 300ms ease-out; }
      .chart .handle-events.label-box.selected {
        opacity: 1 !important; }
      .chart .handle-events.label-box:hover {
        opacity: .2; }
  .chart .line {
    fill: none;
    stroke: steelblue;
    stroke-width: 1.5px; }
  .chart .helper {
    stroke-width: 1.5px;
    opacity: .7; }
  .chart .point {
    stroke-width: 10px;
    stroke: transparent;
    -webkit-transition: stroke 200ms ease-out; }
    .chart .point:hover {
      stroke: rgba(159, 193, 206, 0.53); }

.chart-description {
  float: left;
  font-weight: bold; }

.chart-legend {
  text-align: center; }
  .chart-legend li {
    display: inline-block;
    margin: 0 2em 0 0;
    font-size: .8em;
    color: White; }
  .chart-legend .chart-legend-item-color {
    display: inline-block;
    height: .8em;
    width: .8em;
    border-radius: 50%;
    margin-right: 0;
    font-size: .9em; }

#insights-list {
  padding: 0;
  margin: 0;
  list-style: none;
  margin-bottom: 2em; }
  #insights-list li {
    padding: 0.8em;
    border-bottom: solid 1px #ddd;
    cursor: pointer; }
  #insights-list .insight-icon {
    width: 3em;
    text-align: center; }
    #insights-list .insight-icon img {
      max-width: 2.5em;
      max-height: 2.5em; }
  #insights-list .insight-text {
    -moz-padding-start: 1em;
    -webkit-padding-start: 1em; }
  #insights-list h4 {
    padding: 0;
    margin: 0 0 .2em; }
  #insights-list p {
    padding: 0;
    margin: 0; }
