$highlightColor: #0abcbe;
$secondaryColor: #408492;
$secondaryColorLighter: #55929e;
$backgroundColor: #2c2c2c;
$contentBackgroundColor: #f4f4f4;
$contentTextColor: #243033;
$textColor: White;
$secondaryTextColor: #979797;
$inputHeight: 3rem;
$inputBorderRadius: 2px;
$actionbarBackground: #017fcf;
$activeColor: #FCC435;
$actionbarColor: White;
$headerBackground: White;
$darkHeaderBackground: #163852;
$darkHeaderColor: White;
$headerColor: #333;
$actionbarHeight: 3.5rem;
$contentsHeaderHeight: 3rem;
$saveBackgroundColor: #39b54a;
$saveBackgroundColorHover: #3ED453;
$defaultButtonBackgroundColor: #57a3e5;
$defaultButtonBackgroundColorHover: #58aef1;
$saveColor: White;
$leftMenuMinWidth: 1000px;
$lightHoverColor: rgba(92, 210, 250, 0.18);
$lightActiveColor: rgba(92, 210, 250, 0.5);
$rowDifferentColor: rgb(241, 247, 249);

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/Roboto/Roboto-Light.ttf);
}

html, body{ height: 100%; }
body{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}