$highlightColor: #0abcbe;
$secondaryColor: #408492;
$secondaryColorLighter: #55929e;
$backgroundColor: #2c2c2c;
$textColor: White;
$secondaryTextColor: #979797;
$inputHeight: 3em;
$inputBorderRadius: 2px;
$actionbarBackground: #0099cc;
$actionbarColor: White;
$headerBackground: #d9e9ef;
$headerColor: #373737;
$actionbarHeight: 3.5em;

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: normal;
  font-weight: 400;
  src: url(fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf);
}
@font-face {
  font-family: 'Roboto Condensed';
  font-style: bold;
  font-weight: 700;
  src: url(fonts/Roboto_Condensed/RobotoCondensed-Bold.ttf);
}

html, body{ height: 100%; }
body{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
  overflow-x: hidden;
  width: 100%;
}

select {
  -webkit-appearance: none;
  background: url(../images/icons/triangle.svg) no-repeat right bottom;
  border: none;
  font-size: 1em;
  color: #373737;
  padding-right: .5em;
  background-size: .5em;
  outline: none;
}