$highlightColor: #0abcbe;
$secondaryColor: #408492;
$secondaryColorLighter: #55929e;
$backgroundColor: #2c2c2c;
$contentBackgroundColor: #f4f4f4;
$textColor: White;
$secondaryTextColor: #979797;
$inputHeight: 3em;
$inputBorderRadius: 2px;
$actionbarBackground: #0099cc;
$activeColor: #FCC435;
$actionbarColor: White;
$headerBackground: #d9e9ef;
$headerColor: #373737;
$actionbarHeight: 3.5em;
$contentsHeaderHeight: 3em;

@font-face {
  font-family: 'Roboto';
  src: url(fonts/Roboto/Roboto-Regular.ttf);
  font-weight:400;
  font-style: normal;
}
@font-face {
  font-family: 'Roboto';
  font-style: bold;
  font-weight: 700;
  src: url(fonts/Roboto/Roboto-Bold.ttf);
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: url(fonts/Roboto/Roboto-Light.ttf);
}

html, body{ height: 100%; }
body{
  font-family: 'Roboto', sans-serif;
  padding: 0;
  margin: 0;
}