<div class="flex-1 scroll-vertical" ng-controller="VaccinesController as vaccines">
    <table class="data-table clickable-rows">
        <thead>
            <tr>
                <th>Date</th>
                <th>Vaccine</th>
                <th>Immunes Against</th>
            </tr>
        </thead>
        <tbody>
            <tr ng-repeat="vaccineEntry in vaccines.entries" ng-click="vaccines.editEntry(vaccineEntry)">
                <td>{{vaccineEntry.dateText}}</td>
                <td>{{vaccineEntry.vaccine.name || vaccineEntry.properties.text}}</td>
                <td>{{vaccineEntry.vaccine.disease}}</td>
            </tr>
        </tbody>
    </table>
</div>