<div>
    <img src="res/icon/android/icon-216-xxxhdpi.png" style="float:left; margin-right: 1rem" width="50" height="50" />
    <h3 style="margin-bottom: 0">GrowingApp</h3>
    <span class="app-version">Version {{appVersion.value}}</span>
</div>
<p>Created and maintained by <a href="javascript:navigator.app.loadUrl('http://www.yossikolesnicov.com?referrer=growingapp', { openExternal:true })">Yossi Kolesnicov</a>, who uses the app to keep track of all the marvelous things his daughter does.</p>
<h3>Source Code</h3>
<p>GrowingApp is an open-source project, available on <a href="javascript:navigator.app.loadUrl('https://github.com/yoxigen/growingapp/', { openExternal:true })">GitHub</a>. If you're a developer and would like to contribute to the project, feel free to create a pull request.</p>
<h3>Privacy</h3>
<p>GrowingApp takes your privacy seriously. The app is offline-only by default, therefore completely private.
    When you choose to backup your data on the cloud, data is saved on <a href="javascript:navigator.app.loadUrl('http://www.parse.com', { openExternal:true })">Parse</a> and isn't shared in any way with any third-parties.
    The full privacy policy is available <a href="javascript:navigator.app.loadUrl('https://www.docracy.com/0iqd493exzi/growingapp-privacy-policy', { openExternal:true })">here</a>.
</p>