<div class="flex-vertical flex-1">
    <div ng-show="showFirstTimeSelection" ng-cloak class="flex-1 contents-empty-message">
        <div class="vertical-buttons-bar">
            <p class="vertical-buttons-text">Get started:</p>
            <a class="button save-button" ng-click="openLoginForm()">
                <img src="images/icons/cloud_sync_white.svg" />
                <span class="button-text">Sync data from cloud</span>
            </a>
            <a class="button save-button" ng-click="addNewPlayer()">
                <img src="images/icons/plus.svg" />
                <span class="button-text">Add child</span>
            </a>
        </div>
    </div>
    <header class="contents-header flex-horizontal" ng-show="player && !showFirstTimeSelection">
        <div class="header-controls flex-1">
            Diary -
            <select class="fancy-select"
                    ng-model="currentEntriesType"
                    ng-change="onEntriesTypeChange()"
                    ng-options="entryType.id as entryType.name for entryType in entryTypes">
                <option value="">All entry types</option>
            </select>
        </div>
        <div>
            <a id="newEntryButton" ng-click="toggleNewEntriesSelection()" class="button text-button" ng-class="{ active: showNewEntriesSelection }" title="New Entry">
                <img src="images/icons/plus-black.svg" />
            </a>
        </div>
    </header>
    <div class="contents-scroll flex-1" ng-class="{ 'flex-vertical': entries && !entries.length }" ng-show="player && !showFirstTimeSelection">
        <div class="flex-1 contents-empty-message" ng-cloak ng-show="entries && !entries.length">
            <div>
                <p>No {{currentEntriesType || ''}} entries added yet.</p>
                <a class="button save-button" ng-click="toggleNewEntriesSelection()">Start adding</a>
            </div>
        </div>
        <ul class="items-list">
            <li ng-repeat="entry in entries" ng-click="entryClick(entry)">
                <img class="item-icon" ng-src="images/icons/{{entry.type.icon}}.svg" />
                <div class="item-text">
                    <div ng-bind-html="entry.html"></div>
                    <p ng-if="entry.description" class='item-description'>{{entry.description}}</p>
                    <div class="item-details">{{entry.dateText}}</div>
                </div>
            </li>
        </ul>
    </div>
    <popup popup-show="showNewEntriesSelection" title="New Entry Type">
        <ul class="entry-types-list">
            <li ng-repeat="entryType in entryTypes"
                ng-click="showNewEntryForm(entryType)">
                <img ng-src="images/icons/{{entryType.icon}}.svg" />
                <span>{{ entryType.name }}</span>
            </li>
        </ul>
    </popup>
    <popup popup-show="showEditEntry" title="{{editedEntryIsNew && 'New' || 'Edit'}} Entry: {{ newEntryType.name }}">
        <form>
            <div class="popup-contents">
                <form>
                    <div ng-if="newEntryType" ng-include="'entry_editor_' + newEntryType.id"></div>
                    <label ng-show="newEntryType.allowDescription !== false">
                        <span class="label-text">Additional Details</span>
                        <textarea ng-model="entry.description"></textarea>
                    </label>
                    <label class="no-margin"><span class="label-text">Entry date</span><input type="date" ng-model="entry.date" /></label>
                </form>
            </div>
            <footer class="flex-horizontal buttons-bar">
                <a data-closes-popup="1" ng-show="!entry._deleted" class="button cancel-button" style="width: 48%">Cancel</a>
                <a class="button remove-button" ng-click="removeEntry(entry)" ng-show="!editedEntryIsNew && !entry._deleted">
                    <img class="button-icon" src="images/icons/close.svg" />
                    <span class="hide-smallest-width">Delete</span><span class="hide-small-width"> Entry</span></a>
                <a class="button save-button" ng-click="saveEntry()" ng-show="!entry._deleted">
                    <img class="button-icon" src="images/icons/ok.svg" />
                                    <span class="button-text">
                                        <span class="hide-smallest-width">Save</span>
                                        <span class="hide-small-width"> Entry</span>
                                    </span>
                </a>
                <a class="button" ng-show="entry._deleted" ng-click="unremoveEntry(entry)">
                    <span class="button-text">Undo entry delete</span>
                </a>
            </footer>
        </form>
    </popup>
</div>