<div class="flex-vertical flex-1 entries">
    <div class="contents-scroll flex-1"
         on-scroll-to-bottom="entries.loadMoreEntries()"
         done-scrolling="entries.allEntriesAdded"
         ng-class="{ 'flex-vertical': entries && !entries.items.length }"
         ng-show="player">
        <div id="player-summary" ng-show="!entries.currentEntriesType">
            <div id="player-summary-avatar"
                 ng-class="{ 'with-image': player.image }"
                 ng-style="{ 'background-image': player.image.cssUrl }"
                 ng-click="editPlayer(player)"></div>
            <h2 id="player-summary-name">{{player.name}}</h2>
            <div id="player-summary-info">
                <span>{{player.ageText}}</span>
            </div>
        </div>
        <a id="new-entry-button" class="floating-action-button add-button" ng-show="entries.items.length" title="New entry" ng-click="dialogs.newEntry.toggle()"></a>
        <div class="flex-1 contents-empty-message" ng-cloak ng-show="!entries.settingEntries && entries && !entries.items.length">
            <div>
                <p>No {{entries.currentEntriesType.name || ''}} entries added yet.</p>
                <a class="floating-action-button add-button" ng-click="dialogs.newEntry.toggle()"></a>
            </div>
        </div>
        <ul class="cards">
            <li ng-repeat="entry in entries.items" class="card">
                <div ng-include="'entry-' + entry.type.templateName"></div>
                <div ng-if="entry.description" class="card-text" is-rtl="entry.rtlDescription">{{entry.description}}</div>
                <div class="card-info flex-horizontal">
                    <div class="card-details flex-1">
                        {{::entry.dateText}} <span class="separator">|</span> {{::entry.ageText}}
                    </div>
                    <div class="card-buttons">
                        <a class="button card-{{ ::entry.type.insightIcon.id }}-button" ng-if="::entry.type.insight" ng-click="insights.setCurrentInsight(entry.type.insight)"></a>
                        <a class="button card-edit-button" ng-click="entries.editEntry(entry)"></a>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>