<form class="flex-horizontal player-edit">
    <div class="player-edit-avatar">
        <div class="avatar avatar-placeholder" ng-show="!editedPlayer.image">
        </div>
        <div class="avatar" ng-show="editedPlayer.image || editedPlayer.localImageUrl">
            <img class="avatar-image" ng-src="{{editedPlayer.localImageUrl || editedPlayer.image}}" class="player-edit-image" />
        </div>
        <div class="avatar-buttons">
            <a class="button text-button" ng-click="editedPlayer.addPhoto('camera')">
                <img src="images/icons/camera.svg" />
            </a>
            <a class="button text-button" ng-click="editedPlayer.addPhoto('browse')">
                <img src="images/icons/folders.svg" />
            </a>
        </div>
    </div>
    <div class="flex-1">
        <label>
            <span class="label-text">Child Name *</span>
            <input type="text" ng-model="editedPlayer.name" data-auto-focus required/>
        </label>
            <label>
                <span class="label-text">Gender</span>
                <select ng-model="editedPlayer.gender"
                        ng-options="gender.id as gender.label for gender in [{ id: 'f', label: 'Female'}, { id: 'm', label: 'Male' }]"></select>
            </label>
            <label>
                <span class="label-text">Birthday</span>
                <input type="date" ng-model="editedPlayer.birthday" required/>
            </label>
    </div>
</form>