<script type="text/ng-template" id="entry_editor_weight">
    <label>
        <span class="label-text">The new weight</span>
        <div class="flex-horizontal">
            <div class="flex-1"><input type="number" min=0 step="0.01" ng-model="entries.editedEntry.properties.weight" placeholder="The new weight" data-auto-focus required /></div>
            <div class="input-unit">
                <a ng-click="openSettings()">{{config.localization.weight.selected}}</a>
            </div>
        </div>
    </label>
</script>
<script type="text/ng-template" id="entry_editor_height">
    <label>
        <span class="label-text">The new height</span>
        <div class="flex-horizontal">
            <div class="flex-1"><input type="number" min=0 ng-model="entries.editedEntry.properties.height" data-auto-focus placeholder="The new height" /></div>
            <div class="input-unit">
                <a ng-click="openSettings()">{{config.localization.height.selected}}</a>
            </div>
        </div>
    </label>
</script>
<script type="text/ng-template" id="entry_editor_speech">
    <label>
        <span class="label-text">What did {{ player.gender.pronoun }} say?</span>
        <textarea ng-model="entries.editedEntry.properties.words"
                  data-auto-focus
                  rows="5"
                  is-rtl="entries.editedEntry.rtl"
                  placeholder="The new word(s) or sentence"></textarea>
    </label>
</script>
<script type="text/ng-template" id="entry_editor_milestone">
    <label>
        <span class="label-text">Select the milestone:</span>
        <div class="flex-horizontal">
            <select ng-model="entries.editedEntry.properties.type" data-auto-focus ng-options="milestoneType.id as milestoneType.text for milestoneType in config.entries.milestone.types">
                <option value="">(Select the milestone)</option>
            </select>
        </div>
    </label>
    <label>
        <span class="label-text">Or enter new milestone:</span>
        <textarea rows="3" ng-model="entries.editedEntry.properties.text" is-rtl="entries.editedEntry.rtl"></textarea>
    </label>
    <div class="entry_photo_edit">
        <img dataobject-image dataobject="entries.editedEntry" class="entry-image-edit" />
        <div>Click to select photo</div>
    </div>
</script>
<script type="text/ng-template" id="entry_editor_note">
    <label>
        <span class="label-text">What happened?</span>
        <textarea ng-model="entries.editedEntry.properties.text" data-auto-focus rows="5"></textarea>
    </label>
</script>
<script type="text/ng-template" id="entry_editor_teeth">
    <div id="teeth-selection" ng-controller="TeethController">
        <teeth ng-model="entries.editedEntry.properties.tooth" highlighted-teeth="addedTeeth"></teeth>
        <div class="tooth-name">{{config.entries.teeth.index[entries.editedEntry.properties.tooth].name || "Select the tooth" }}</div>
    </div>
</script>
<script type="text/ng-template" id="entry_editor_photo">
    <div class="entry_photo_edit">
        <img dataobject-image dataobject="entries.editedEntry" class="entry-image-edit" />
        <div>Click to select photo</div>
    </div>
</script>
<script type="text/ng-template" id="entry_editor_vaccine">
    <label>
        <span class="label-text">The vaccine</span>
        <!--
        <dropdown close-on-click="true" button-text="Select the vaccine...">
            <ul class="dropdown-list">
                <li ng-repeat="vaccine in config.entries.vaccines.list"
                    ng-click="entries.editedEntry.properties.vaccineId = vaccine.id"
                    ng-class="{ selected: entries.editedEntry.properties.vaccineId == vaccine.id }">
                    {{vaccine.name}}
                </li>
            </ul>
        </dropdown>
        -->
        <select ng-model="entries.editedEntry.properties.vaccineId" ng-options="vaccine.id as vaccine.name for vaccine in config.entries.vaccines.list">
            <option value="">(Select the vaccine)</option>
        </select>
    </label>
    <label>
        <span class="label-text">Other:</span>
        <input type="text" ng-model="entries.editedEntry.properties.text" is-rtl="entries.editedEntry.rtl"></textarea>
    </label>
    <div class="entry_photo_edit">
        <img dataobject-image dataobject="entries.editedEntry" class="entry-image-edit" />
        <div>Click to select photo</div>
    </div>
</script>
