<div class="flex-1 flex-vertical">
            <header class="contents-header">
                Insights
            </header>
            <div class="flex-1 scroll-vertical" ng-hide="firstPanelHidden">
                <ul id="insights-list">
                    <li ng-repeat="insight in ::insights" ng-click="setCurrentInsight(insight)" class="flex-horizontal">
                        <div class="insight-icon" ng-style="::{ 'background-color': insight.entryType.color, 'background-image': insight.entryType.iconCssUrl }"></div>
                        <div class="insight-text flex-1" ng-class="{ center: !insight.description }">
                            <h4>{{::insight.name}}</h4>
                            <p class="insight-description">{{::insight.description}}</p>
                        </div>
                    </li>
                </ul>
                <p class="comment">
                    More charts soon...
                </p>
            </div>
    <slide-dialog show="currentInsight"
                  title="{{currentInsight.name}}"
                  on-show="onShowDialog($event)"
                  background="{{currentInsight.entryType.color}}"
                  class="no-padding {{currentInsight.className}}"
                  on-hide="onCloseInsight()">
        <div ng-include="currentInsightInclude"></div>
    </slide-dialog>
</div>