<form ng-controller="LoginController">
    <div class="popup-contents">
        <label>
            <span class="label-text">Email Address</span>
            <input type="email" ng-model="loginUser.username" required data-auto-focus />
        </label>
        <label>
            <span class="label-text">Password</span>
            <input type="password" ng-model="loginUser.password" required/>
        </label>
    </div>
    <footer class="flex-horizontal buttons-bar">
        <a class="flex-1 button" ng-click="openSignUp()">New User?</a>
        <a class="flex-1 button save-button" ng-click="signIn()">
            <img src="images/icons/ok.svg"/>
            <span class="button-text">Login</span>
        </a>
    </footer>
</form>