<form ng-controller="SignUpController">
    <div class="popup-contents">
        <label>
            <span class="label-text">Email Address</span>
            <input type="email" ng-model="newUser.username"  ng-class="{ 'error-highlight': highlight == 'username' }" required data-auto-focus />
        </label>
        <label>
            <span class="label-text">Password</span>
            <input type="password" ng-model="newUser.password" ng-class="{ 'error-highlight': highlight == 'password' }" required/>
        </label>
        <label>
            <span class="label-text">Confirm Password</span>
            <input type="password" ng-model="newUser.confirmPassword" ng-class="{ 'error-highlight': highlight == 'confirm' }" required/>
        </label>
        <label>
            <span class="label-text">I'm From</span>
            <select ng-model="newUser.country" ng-options="country.code as country.name for country in countries"></select>
        </label>
        <div class="form-error" ng-show="signupError">{{signupError}}</div>
    </div>
    <footer class="flex-horizontal buttons-bar">
        <a class="flex-1 button save-button" ng-click="signUp()" ng-disabled="!newUser.username || !newUser.password || !newUser.confirmPassword || signupError">
            <img src="images/icons/ok.svg"/>
            <span class="button-text">Create User</span>
        </a>
    </footer>
</form>