<div class="popup-contents">
    <p class="popup-text">Now that you're adding entries, it might be a good idea to start to <strong>backup</strong>.</p>
    <p class="popup-text">GrowingApp saves only anonymous information to the cloud, so no identification data is saved about your children or about yourself.</p>
</div>
<footer class="flex-horizontal buttons-bar">
    <a ng-click="declineSyncOffer()" class="flex-1 button cancel-button">No, thanks</a>
    <a class="flex-2 button save-button" ng-click="openSignUp()">
        <img src="images/icons/cloud_sync_white.svg"/>
        <span class="button-text"><span class="large-width-only">Yes, </span>Backup Now</span>
    </a>
</footer>