<div class="dialog-container {{class}}">
    <div class="dialog-wrapper dialog-background" ng-click="closeDialog()"></div>
    <div class="dialog-wrapper">
        <div class="dialog flex-vertical">
            <form class="dialog-form flex-vertical" ng-submit="submitAction.onSubmit()">
                <header ng-if="title">
                    <span class="dialog-title">{{title}}</span>
                </header>
                <div class="flex-1 flex-vertical">
                    <div class="scroll-vertical" ng-transclude>
                    </div>
                </div>
                <div ng-show="submitAction || actions.length" class="dialog-actions">
                    <a ng-repeat="action in actions"
                       class="dialog-button"
                       title="{{::action.title}}"
                       ng-click="action.onClick()">
                        <img class="dialog-button-image" ng-show="::action.icon" ng-src="images/icons/{{::action.icon}}.svg" />
                        {{::action.text}}
                    </a>
                    <input type="submit" class="dialog-button" ng-if="::submitAction" value="{{ ::submitAction.text }}" />
                </div>
            </form>
        </div>
    </div>
</div>