<div class="popup flex-vertical" class="{{class}}">
    <header class="flex-horizontal" ng-style="{ background: background }">
        <a class="popup-header-button"
           title="Close"
           ng-click="closeDialog()">
            <img src="images/icons/back.svg" />
        </a>
        <span class="flex-1 popup-title">
            <img ng-if="icon" class="popup-icon" ng-src="images/icons/{{icon}}.svg" />
            {{title}}
        </span>
        <div ng-show="actions.length">
            <a ng-repeat="action in actions"
               class="popup-header-button"
               title="{{::action.title}}"
               ng-click="action.onClick()">
                <img ng-src="images/icons/{{::action.icon}}.svg" />
            </a>
            <a ng-if="::submitAction"
               class="popup-header-button"
               ng-click="submitAction.onSubmit()"
               title="{{::submitAction.title}}">
                <img ng-src="images/icons/{{::submitAction.icon}}.svg" />
            </a>
        </div>
    </header>
    <div class="flex-1 scroll-vertical popup-contents" ng-transclude></div>
</div>
